.example-word {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.example-word--kanji {
    font-size: 2rem;
}

.example-missing {
    font-size: 1rem;
}