
.game-over{
    position: absolute;
      width: 100%;
      height: 100%;
      background-color: var(--app-background-color);
      top: 0;
      display:flex;
      flex-direction: column;
      align-items: center;
  }
  
  .game-over__percent{
    text-align: center;
    font-size:6rem;
  }
  
  .game-over__button{
    border-radius:6px;
  background-color: var(--app-button-background-color);
  border: 1px solid #aaa;
  padding-left: 0.5rem;
  padding-right:0.5rem;
  padding-bottom:var(--header-top-padding);
  cursor: pointer;
  text-align: center;
  margin-top:3rem;
  padding:1rem;
  font-size:2rem;
  }