.header{
    --header-top-padding:0.25rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:1rem;
    margin-bottom:1rem;
  }
  
  .header__align{
    padding-top:var(--header-top-padding);
  }

  @media(min-width:500px){
    .header{
      width:90%;
      margin-left: auto;
    margin-right: auto;
    }
  }
  