.kanji-info{
    width:90%;
    margin-left: auto;
    margin-right:auto;
    color:white;
    background-color: midnightblue;
    text-align: center;
    align-items: center;
    border-radius:10px;
    box-shadow: var(--content-box-shadow);
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding:0.5rem;
  }

  .kanji-info__continue{
    font-size:0.8rem;
    cursor:pointer;
  }
  
  .kanji-info__character{
    font-size: 2rem;
  }

  .kanji-info--label{
    font-size:0.8rem;
  }

  .kanji-info--meta{
    display:flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-evenly;
    gap:0.5rem;
  }
  
  @media (min-width:700px){
    .kanji-info__character{
      font-size:4rem;
    }
    .kanji-info--label{
      font-size:1rem;
    }
    .kanji-info{
      font-size:1.2rem;
    }
  }