.kanji-info {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: var(--kanji);
  border-radius: 10px;
  box-shadow: var(--content-box-shadow);
}

.kanji-info__container {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0.5rem;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
}

.kanji-info__links {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.kanji-info__links a {
  color: white;
}

.kanji-info__next-question {
  all: unset;
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid white;
  position: relative;
  border-radius: 6px;
  left: 50%;
  translate: calc(-50%);
  bottom: 0.5rem;
  padding: 0.3rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.kanji-info__character {
  font-size: 4rem;
}

.kanji-info__title {
  font-size: 1.2rem;
  color: black;
  text-align: center;
  margin: 0.3rem;
}



.kanji-info__word--text {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.kanji-info__word--kanji {
  font-size: 2rem;
}

.kanji-info__mnemonic {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}



@media (min-width:600px) {
  .kanji-info__character {
    font-size: 4rem;
  }

  .kanji-info {
    font-size: 1.3rem;
  }

  .kanji-info__title {
    font-size: 1.5rem;
  }

}

@media (min-width:1000px) {
  .kanji-info__character {
    font-size: 5rem;
  }

  .kanji-info {
    font-size: 1.5rem;
  }

}