.kanji-info {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: midnightblue;
  border-radius: 10px;
  box-shadow: var(--content-box-shadow);
}

.kanji-info__container {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0.5rem;
  gap: 0.5rem;
}

.kanji-info__next-question {
  all: unset;
  font-size: 0.8rem;
  cursor: pointer;
  border: 1px solid white;
  position: relative;
  border-radius: 6px;
  left: 100%;
  translate: calc(-100% - 0.5rem);
  bottom: 0.5rem;
  padding: 0.3rem;
  margin-top: 0.5rem;
}

.kanji-info__character {
  font-size: 2rem;
}

.kanji-info--label {
  font-size: 0.8rem;
}

.kanji-info--meta {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.5rem;
}


.kanji-info__mnemonic {
  font-size: 1rem;
}

.kanji_info__word--text {
  font: size 1.2rem;
}

.kanji-info__example {
  font-size: 1.2rem;
}


@media (min-width:500px) {
  .kanji-info__character {
    font-size: 4rem;
  }

  .kanji-info--label {
    font-size: 1rem;
  }

  .kanji-info {
    font-size: 1.5rem;
  }

  .kanji-info__example {
    font-size: 1.5rem;
  }

  .kaji-info__components--text {
    font-size: 1rem;
  }
}

@media (min-width:900px) {
  .kanji-info__character {
    font-size: 5rem;
  }

  .kanji-info {
    font-size: 2rem;
  }

  .kanji-info__example {
    font-size: 2rem;
  }

  .kanji-info__mnemonic {
    font-size: 1.2rem;
  }
}