.kanji-display {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: var(--kanji);
  text-align: center;
  border-radius: 10px;
  box-shadow: var(--content-box-shadow);
}

.kanji-display__practise {
  text-align: center;
  font-size: 1rem;
}

.kanji-display__text {
  font-size: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@media (min-width:500px) {
  .kanji-display__text {
    font-size: 3rem;
  }
}

@media (min-width:700px) {
  .kanji-display__text {
    font-size: 4rem;
  }
}