.lesson-select {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.lesson-select__button {
  border-radius: 6px;
  background-color: var(--app-button-background-color);
  border: 1px solid #aaa;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: var(--header-top-padding);
  cursor: pointer;
}

.lesson-select__window {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lesson-select__window>div {
  margin: 0.25rem;
  border-radius: 4px;
  height: 3rem;
  width: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.lesson-select__window___button {
  cursor: pointer;
  background-color: var(--app-button-background-color);
}

.lesson-select__order {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 1rem;
}

.lesson-select__order--btn {
  all: unset;
  cursor: pointer;
  border-radius: 6px;
  background-color: var(--app-button-background-color);
  border: 1px solid #aaa;
  padding: 0.5rem;
  text-align: center;
}